/*
  This will style all elements to have line spacing
  of 140% of the font size of the element. 
*/
* {
  margin: 0;

  line-height: 140%;
}

/*
  This will style the HTML element (also known as the
  root element) to have a default font-size of 62.5% 
  of the default font size for the browser. - Mr. Hardmen
*/
html {
  font-size: 62.5%;
}

/*
  This styles the body element to have the background color
  of #121212, which will be the main background color for the
  entire website.
  This will style the body element and all elements that
  inherit from the body styling to change thier font color 
  to #ededed, which is an off-white, and font size
  to 1.8 times the size of the root element's font size 
  - Mr. Hardmen
*/
body {
  background-color: #121212;
  color: #ededed;

  font-size: 1.8rem;
  font-family: "Mali", cursive, sans-serif;
}

/*
  This will give the nav the background color of
  #69c3eb
*/
nav {
  background-color: #69c3eb;
}

/*
  This will give the nav ul element the padding of 0 
  to all sides.
  
  This gets rid of any list-style.
*/
nav ul {
  padding: 0;

  list-style: none;
}

/*
  This will display the text as inline-block as well as 
  give the top an dbottom the margin of 5px and the sides
  0 px.
*/
nav li {
  display: inline-block;
  margin: 5px 0;
}

/*
  This will display the text as inline-block as well as 
  keep the height of 95%.

  This will style the body element and all elements that
  inherit from the nav a styling to change thier padding
  to 15 px on top and bottom & 25 px on both sides.

  This styles the nav a element to have the background color
  of #27639c, alongside the font color of #ededed
  which will be the main background color for the
  anchor and the text within the anchor.

  This will style get rid of text decoration.
*/
nav a {
  display: inline-block;
  height: 95%;

  padding: 15px 25px;

  background-color: #27639c;
  color: #ededed;

  text-decoration: none;
}

/*
  This will change the bg color to #669bcc,
  and the text color to #121212.

  The font wil become bold when hovered over.
*/
nav a:hover,
nav a:focus {
  background-color: #669bcc;
  color: #121212;

  font-weight: bold;
}

/*
  This makes the text bolder when you hover and hold on 
  the nav. 
*/
nav a:active {
  font-weight: bolder;
}

/*
  This will give the h1 element 50px of margin on the 
  bottom of the text. along with padding of 20px to &
  bottom and 0 on bottom sides

  This styles the nav a element to have the background color
  of #ededed, alongside the font color of #669bcc.

  This will style the font to have a font-size of 4.8rem,
  the text-align is centered, and the text shadow is the
  color of #121212. 1px by 1px, and 1.5px of blur.
*/
h1 {
  margin-bottom: 50px;
  padding: 20px 0;

  background-color: #ededed;
  color: #669bcc;

  font-size: 4.8rem;
  text-align: center;
  text-shadow: #121212 1px 1px 1.5px;
}

/*
  This styles the section thart holds all of my
  important information to have no spacing on the top
  and bottom of the section and spacing that is equal
  to 5% of the width of the browser window an the left
  and right sides of the section. -Mr. Hardmen
*/
main {
  margin: 0 5%;
}

section div {
  float: left;

  width: 30%;

  padding: 1.5% 3%;

  background-color: #ededed;
  color: #121212;
}

section figure {
  display: inline-block;

  width: 50%;

  margin-left: 5%;
}

figure img {
  width: 80%;

  margin-left: 15%;
}

figcaption {
  margin-left: 10%;
  margin-bottom: 20px;

  text-align: center;
}

iframe {
  margin: 10px;
}

/*
  this styles the span weight to bold.
*/
span {
  font-weight: bold;
}

/*
  this styles the element with an ID of description
  to underline all the text inside the element.
*/
#description {
  text-decoration: underline;
}

#ike-description {
  margin-top: 3.2%;
}

#ike-song-covers {
  margin-top: 5%;
  width: 100%;
}

.ike-eveland {
  font-size: bold;
}

/*
  this styles the element with an Class of genmates
  to italic all the text inside the element.
*/
.genmates {
  font-style: italic;
}

.row {
  content: "";
  display: table;
  clear: both;

  width: 62%;

  margin-top: 50px;
  text-align: center;
}

.column-one {
  float: left;
  width: 15%;

  padding: 10px;

  /* height: 300px; */
}

.column-two {
  float: right;
  width: 17%;
  padding: 10px;

  /* height: 300px; */
}

iframe {
  margin: 15px;
}

footer {
  position: absolute;
  bottom: 10px;

  width: 100%;

  margin-top: 50px;
  text-align: center;
}
